body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.input-group, .checkbox-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label, .checkbox-group label {
    font-size: 18px;
    display: block;
    margin: 10px 0;
}

.input-group input, .checkbox-group input, .input-group select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #d40812;
}

.availability-text {
    color: green;
}
